
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #393d41;
    font-size: 1.2rem;
    line-height: 1.65;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 ,h5 ,h6{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    color: #25a2c3;
}

header, section, footer, article, #banner, #cit{
    width: 100%;
    text-align: center;
}

header{
    background-color: black;
    padding-bottom: 40px;
    padding-top: 10px;
}
header img{
    width: 40%;
}

#banner{
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 40px;
}

#banner p{
    margin-bottom: 20px;

}

#banner a{
    margin: 0 auto;
    display: block;
    background-color: orangered;
    width: 30%;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

section, #benner{
    padding-left: 10px;
    padding-right: 10px;
}
/*
#banner{
    padding-left: 20px;
    padding-right: 20px;
}
*/

.pills p, .pills .fotina{
    margin-bottom: 30px;
}
.pills h4{
    margin-bottom: 10px;
}

.pills .fotina img{
    border-radius: 50%;
    width: 70%;
}

#cit, #cit h2{
    background-color: orangered;
}

h2{
    color: white;
}

#cit{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

h2, #cit p{
    color: white;
    margin-bottom: 20px;
}

#cit cite{
    font-style: normal;
}

#cit cite p{
    margin-bottom: 0;
}

.fotopills{
    margin: 0 auto;
    width: 80%;
    border: 1px solid rgb(202, 202, 202);
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.fotopills img{
    width: 100%;
    margin-bottom: 20px;

}

footer{
    background-color: #3e9cb6;
    padding-top: 30px;
    padding-bottom: 30px;

}
footer, footer a, footer a:visited{
    color: white;
}

footer address{
    font-style: normal;
    margin-bottom: 20px;
}

hr{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#fine{

    font-size: 0.8em;
}


